extends layout
block content
    .divContent
        h1= title
        p Welcome to #{title}
        br
        br
        a(href="signin") Sign In
        br
        br
        a(href="signup") Sign Up

