form(id="signin", method="POST", action="/signin")
    lable(for='email') Email
    input#email(type='text', name='email')
    lable(for='password') Password
    input#password(type='text', name='password')
    input(type="submit", value="Sign in")
h1!=message